discord
discord.py
requests
yfinance
redis
hmtai
mplfinance==0.12.7a17
pandas
waifuim.py
aiohttp
pocketsphinx
pyaudio==0.2.13 --find-links=file:\\wsl.localhost\Ubuntu\home\itachi\newWsl\Truthseer\py-wheel
SpeechRecognition==3.8.1
